.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
*.json
*.RData
Dashboard_app/*.RData
Dashboard_app/rsconnect/
github_pat.txt
Weekly_Counts_of_Deaths_by_State_and_Select_Causes__2019-2020.csv
Weekly_Counts_of_Deaths_by_State_and_Select_Causes__2019-2020.ods
